/src/.phpunit.cache
/src/bootstrap/ssr
/src/bootstrap/ssr
/node_modules
**/*/node_modules
/src/public/build
/src/public/hot
/src/public/storage
/src/storage/*.key
**/*/vendor
/src/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.eslintcache

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.vercel


# terraform
.terraform
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl
errored.tfstate

# Docker
/mysql
